<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://use.fontawesome.com/8feb4bfacc.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lobster+Two:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
  <title>Gabble | Feed</title>
</head>
<body>
  <header>
    <div class="wrapper">
      <div id="logo">
        <a href="/">Gabble</a>
      </div>
      <nav>
        <a href="/feed">{{username}}</a>
        <a href="/logout">Logout</a>
        <a href="/gab"><button class="gab"><i class="fa fa-bullhorn" aria-hidden="true"></i></button></button></a>
      </nav>
    </div>
  </header>
  <main>
    <div class="wrapper">
      <h1 class="welcome"><span>G</span>{{messages.0.user.username}}</h1>
      <div class="feed-container">
        {{#messages}}
          <div class="feed-block">
            <div class="gab-header">
              <div class="left">
                <img class="avatar" src="/images/avatar.png">
                <h3 class="gab-author"><a href="/{{user.username}}">{{user.username}}</a></h3>
              </div>
              <div class="right">
                <form method="POST" action="/feed/{{id}}/like" class="gab-controls">
                  <a href="/">{{likes.length}}</a>
                  <button type="submit" class="like"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                </form>
                <form method="POST" class="gab-controls">
                  <a href="/">{{likes.length}}</a>
                  <button type="submit" class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i></button>
                </form>
              </div>
            </div>
            <p class="gab-message">{{content}}<br>
            <a href="/gab/{{id}}">View Post<i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
            <p class="gab-date"><i class="fa fa-paper-plane" aria-hidden="true"></i>{{createdAt}}</p>
          </div>
        {{/messages}}
      </div>
    </div>
  </main>
</body>
</html>